---
interface Props {
	start: Date;
	end: Date | null;
}

const { start, end } = Astro.props;

const formatDate = (date: Date): string =>
	date.toLocaleDateString('en-us', {
		year: 'numeric',
		month: 'short',
		day: 'numeric',
		timeZone: 'zulu',
	});
---

<span>
	<time datetime={start.toISOString()}>
		{formatDate(start)}
	</time>
	–
	{
		end === null ? (
			<span>Present</span>
		) : (
			<time datetime={end.toISOString()}>{formatDate(end)}</time>
		)
	}
</span>
