:root {
	--accent: 255 152 0;
	--foreground: 241 230 216;
	--background: 0 0 19;
	--background-secondary: 48 42 79;
	--foreground-secondary: 147 147 147;
}

a {
	text-decoration: underline;
	transition:
		color 0.2s ease,
		border-bottom-color 0.2s ease;
}

a:hover {
	color: rgb(var(--accent));
}

* {
	box-sizing: border-box;
}
