@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@custom-variant prose-inline-code (&.prose :where(:not(pre)>code):not(:where([class~="not-prose"] *)));

@theme {
	--color-*: initial;
	--color-background: rgb(0, 0, 19);
	--color-foreground: rgb(241, 230, 216);
	--color-accent: rgb(255, 152, 0);
	--color-background-secondary: rgb(48, 42, 79);
	--color-foreground-secondary: rgb(147, 147, 147);
	--font-sans: 'Arial', 'sans-serif';
}

@layer base {
	a {
		text-decoration: underline;
		transition:
			color 0.2s ease,
			border-bottom-color 0.2s ease;
	}

	a:hover {
		color: var(--color-accent);
	}

	[data-footnote-ref]::after {
		content: ']';
	}

	[data-footnote-ref]::before {
		content: '[';
	}
}
