---
import type { Blog } from '@src/content.config';
import BlogEntry from './BlogEntry.astro';

type Props = {
	posts: {
		id: string;
		data: Blog;
	}[];
};

const { posts } = Astro.props;
---

<ul class="flex flex-col gap-6">
	{
		posts.map((post) => (
			<li>
				<BlogEntry
					slug={post.id}
					title={post.data.title}
					date={post.data.pubDate}
					tags={post.data.tags}
				/>
			</li>
		))
	}
</ul>
