---
import FormattedDate from '@components/date/FormattedDate.astro';
import Prose from '@components/Prose.astro';

type Props = {
	title: string;
	date: Date;
	updatedDate?: Date | undefined;
	children: any;
};

const { title, date, updatedDate } = Astro.props;
---

<Prose>
	<div class="mb-2 py-2 text-center">
		<h1>{title}</h1>
		<div class="text-foreground-secondary mb-1">
			<FormattedDate date={date} />
			{
				updatedDate && (
					<div class="italic">
						Last updated on <FormattedDate date={updatedDate} />
					</div>
				)
			}
		</div>
	</div>
	<slot />
</Prose>
