---
import type { CollectionEntry } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';

type Props = Omit<CollectionEntry<'blog'>['data'], 'description'>;

const { title, pubDate, updatedDate, heroImage } = Astro.props;
---

<article
	class:list={[
		'mx-auto px-4 py-8',
		'prose lg:prose-xl',
		'prose-inline-code:rounded-sm prose-inline-code:bg-[rgb(var(--gray-light))] prose-inline-code:p-0.5',
	]}
>
	{
		heroImage && (
			<img
				width={1020}
				height={510}
				src={heroImage}
				alt=""
				class="mx-auto block w-full rounded-xl shadow-[var(--box-shadow)]"
			/>
		)
	}
	<div class="text-foreground max-w-prose p-4">
		<div class="mb-2 py-2 text-center">
			<h1>{title}</h1>
			<div class="mb-1 text-[rgb(var(--gray))]">
				<FormattedDate date={pubDate} />
				{
					updatedDate && (
						<div class="italic">
							Last updated on <FormattedDate date={updatedDate} />
						</div>
					)
				}
			</div>
		</div>
		<slot />
	</div>
</article>
