<figure>
	<img
		src="/buzzword-central-resume.png"
		alt=""
	/>
	<details>
		<summary>Text version of Buzzword Central Resume</summary>
		<figcaption>
			<blockquote>
				<article>
					<header>
						<h2>Jacob Asper</h2>
						<h3>Strategic Visionary</h3>
					</header>
					<section>
						<p>
							Detail oriented and results-oriented professional with a proven
							track record in leveraging synergies to maximize operational
							efficiency and drive transformative change. Adept at harnessing
							cutting-edge methodologies to achieve holistic solutions in
							fast-paced environments.
						</p>
					</section>
					<section>
						<h3>Experience</h3>
						<p>
							Chief Paradigm Architect June 1998 – Present Next-Gen Technologies
							Ltd.
						</p>
						<ul>
							<li>
								Engineered semantically structured full-stack web applications
								utilizing cutting-edge technologies to optimize user experience,
								drive seamless integration, and facilitate agile scalability
								across diverse platforms.
							</li>
							<li>
								Leveraged agile methodologies, including SCRUM frameworks, to
								catalyze iterative project management processes, enhancing team
								velocity and fostering a culture of continuous delivery and
								stakeholder engagement.
							</li>
						</ul>
					</section>
					<footer>
						<h3>Contact</h3>
						<ul>
							<li>LinkedIn</li>
							<li>email@gmail.com</li>
						</ul>
					</footer>
					<section>
						<h3>Skills</h3>
						<ul>
							<li>Microsoft Word</li>
							<li>VSCode</li>
							<li>Wasting interviewer’s time</li>
							<li>ChatGPT</li>
							<li>Powerpoint</li>
							<li>Dreamweaver</li>
							<li>AOL Instant Messenger</li>
							<li>Notepad</li>
							<li>Windows</li>
						</ul>
					</section>
					<section>
						<h3>Certifications</h3>
						<h4>Udemy</h4>
						<ul>
							<li>Did half of a react course</li>
						</ul>
					</section>
				</article>
			</blockquote>
		</figcaption>
	</details>
</figure>
