---

---

<figure>
	<img
		src="/gold-star-award.webp"
		alt=""
	/>
	<details>
		<summary>Alternate text for golden star award</summary>
		<figcaption>
			<p>
				A bad quality image of a yellow award with poorly written text going off
				of the award. There's an empty space for the recipient's name. The text
				reads
			</p>
			<blockquote>
				<p>Gold Star Award: Congratulations to blank for answering yes</p>
				<p>Well Done!</p>
				<p>Date: Today</p>
				<p>Signed: Jacob</p>
			</blockquote>
		</figcaption>
	</details>
</figure>
