<article
	class:list={[
		'mx-auto py-8',
		'prose prose-invert lg:prose-xl',
		'prose-inline-code:rounded-sm prose-inline-code:bg-background-secondary prose-inline-code:p-0.5',
		'prose-a:text-foreground prose-a:hover:text-accent prose-a:transition-colors prose-a:duration-200 prose-a:ease-in',
		'prose-headings:text-foreground',
	]}
>
	<div class="max-w-prose p-4">
		<slot />
	</div>
</article>
