---
import roundaboutCapacity from '../images/roundabout-approach-capacity.png';
---

<figure>
	<img
		src={roundaboutCapacity.src}
		alt=""
	/>
	<figcaption>
		<q>
			The capacity forecast shown in the chart is valid for double-lane
			roundabouts with inscribed circle diameters of 40 m to 60 m (130 ft to 200
			ft)
		</q>
		<p>
			<cite
				>Approach capacity of a double-lane roundabout. Robinson, Bruce W., et
				al. <a
					href="https://www.fhwa.dot.gov/publications/research/safety/00067/00067.pdf"
					>“Roundabouts: An Informational Guide. Publication No.
					FHWA-RD-00-067.”</a
				> U.S Department of Transportation, June 2000.
			</cite>
		</p>
	</figcaption>
</figure>
