---
import type { BlogTag } from '@content/config';

type Props = {
	tags: BlogTag[];
};

const { tags } = Astro.props;
---

<div class="text-foreground-secondary flex gap-x-1.5">
	<p>tags:</p>
	<ul class="flex gap-x-1.5">
		{
			tags.map((tag, i) => (
				<li>
					<p>
						<a href={`/blog/tag/${tag}`}>#{tag}</a>{i < tags.length - 1 && <span>,</span>}
					</p>
				</li>
			))
		}
	</ul>
</div>
