---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import { NAME } from '../consts';

type Props = {
	title: string;
	description: string;
};

const { title, description } = Astro.props;
const today = new Date();
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead
			title={title}
			description={description}
		/>
	</head>

	<body class="bg-background text-foreground text-xl">
		<Header />
		<slot />
		<footer class="text-foreground-secondary pt-4 text-center">
			&copy; {today.getFullYear()}
			{NAME}. All rights reserved.
		</footer>
	</body>
</html>
