---
import BaseHead from '@components/BaseHead.astro';
import Header from '@components/nav/Nav.astro';
import { NAME } from '@src/consts';
import '@src/styles/global.css';

type Props = {
	title: string;
	description?: string;
	math?: boolean;
};

const { math, title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<BaseHead
		title={title}
		description={description ?? ''}
		math={math}
	/>

	<body
		class="bg-background text-foreground flex h-screen flex-col px-4 font-sans text-xl"
	>
		<Header border="bottom" />
		<slot />
		<div class="mt-auto">
			<Header border="top" />
			<footer class="p-4">
				<nav
					aria-label="webring"
					class="gap-2 pb-4 text-center"
				>
					<a href="https://webring.jacobasper.com/prev/20jasper"
						><span aria-hidden="true">←</span>Previous</a
					>
					<a
						class="px-2"
						href="https://webring.jacobasper.com/"
						>Really Cool Blogger Web Ring</a
					>
					<a href="https://webring.jacobasper.com/next/20jasper"
						>next<span aria-hidden="true">→</span></a
					>
				</nav>
				<p class="text-foreground-secondary text-center text-sm">
					&copy; {new Date().getFullYear()}
					{NAME}. &copy; 2020 VSCode Orange Theme <a
						href="https://marketplace.visualstudio.com/items?itemName=Rax.vscode-orange-theme"
						>Rax Team</a
					>. All rights reserved.
				</p>
			</footer>
		</div>
	</body>
</html>
