---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import { NAME } from '../consts';

type Props = {
	title: string;
	description: string;
};

const { title, description } = Astro.props;
const today = new Date();
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead
			title={title}
			description={description}
		/>
	</head>

	<body
		class="flex h-screen flex-col bg-background px-4 text-xl text-foreground"
	>
		<Header border="bottom" />
		<slot />
		<footer class="mt-auto p-4">
			<Header border="top" />
			<p class="text-center text-sm text-foreground-secondary">
				&copy; {today.getFullYear()}
				{NAME}. All rights reserved.
			</p>
		</footer>
	</body>
</html>
