---
import NavLink from './NavLink.astro';

type Props = {
	border: 'top' | 'bottom';
};

const { border } = Astro.props;
---

<nav>
	<ul class="mx-auto flex justify-center">
		<li class="px-2 py-4">
			<NavLink
				class="px-2 py-4"
				href="/blog"
				border={border}
				>Blog</NavLink
			>
		</li>
		<li class="px-2 py-4">
			<NavLink
				class="px-2 py-4"
				href="/reading-list"
				border={border}
				>Reading List</NavLink
			>
		</li>
	</ul>
</nav>
