---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'> & { border: 'top' | 'bottom' };

const { href, class: className, border, ...props } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + subpath?.[0];
---

<a
	href={href}
	class:list={[
		className,
		isActive ? 'border-accent' : 'border-foreground',
		border === 'bottom' ? 'border-b-4' : 'border-t-4',
		'!no-underline',
	]}
	{...props}
>
	<slot />
</a>
